*::-webkit-input-placeholder {
	color: #80848A;
	opacity: 1;
}
*:-moz-placeholder {
	color: #80848A;
	opacity: 1;
}
*::-moz-placeholder {
	color: #80848A;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #80848A;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: 'Mazda Type';
	font-size: 14px;
	line-height: 22px;
	overflow-x: hidden;
	margin: 0;
	font-weight: 400;
	background-color: #f5f5f5;
}
button {
	cursor: pointer;
}
h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}
.wrapper {
	overflow: hidden;
}
a {
	text-decoration: none;
	outline: none;
}
* {
	outline: none !important;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style-type: none;
	outline: none;
}
img {
	outline: none;
	display: block;
}
p {
	padding: 0;
	margin: 0;
}
.header {
	background-color: #101010;
}
.header__top {
	padding: 9px 0 7px;
	border-bottom: 1px solid #373b3e;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.link-location {
	color: #999999;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 11px;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.link-location:hover {
	color: #fff;
}
.link-location i {
	font-size: 14px;
	margin-right: 5px;
}
.social-list {
	display: flex;
	align-items: center;
}
.social-list li {
	margin-right: 15px;
}
.social-list li:last-child {
	margin-right: 0;
}
.social-list li  a {
	color: #999999;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.social-list li  a:hover {
	color: #fff;	
}
.header .social-list {
	margin-left: 60px;
}
.logo {
	display: inline-block;
}
.logo img {
	width: 260px;
	max-width: 100%;
}
.header__bottom {
	padding: 15px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.phone-item {
	line-height: 19px;
}
.phone-item__label {
	margin-right: 2px;
	font-size: 11px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 1px;
	color: #999;
}
.phone-item__number {
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.5px;
}
.phone-item_icon .phone-item__number {
	font-size: 18px;
	line-height: 18px;
}
.phone-item__number a {
	color: #D5D5D5;
	transition: all 0.3s;
}
.phone-item__number a:hover {
	color: #fff;
}
.header__right {
	display: flex;
	align-items: center;
}
.phone-item_icon::before {
	position: absolute;
	top: 2px;
	left: 10px;
	font-size: 20px;
	color: #999999;
	content: "\f12e";
	font-family: 'standard-icon-font';
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.phone-item_icon {
	position: relative;
	padding-left: 41px;
	margin-right: 39px;
}
.menu {
	display: flex;
	align-items: center;
}
.menu > li > a {
	padding: 0px 15px 0px 15px;
	line-height: 54px;
	font-weight: 700;
	height: 54px;
	vertical-align: baseline;
	text-align: left;
	width: auto;
	display: block;
	color: #101010;
	text-transform: uppercase;
	text-decoration: none;
	font-family: inherit;
	font-size: 14px;
}
.menu > li.active > a,
.menu > li:hover > a {
	background: #d5d5d5;
}
.menu > li.menu__haschild > a::after {
	content: '\f347';
	display: inline-block;
	font-family: 'dashicons';
	margin: 0 0 0 6px;
	vertical-align: top;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: rotate(0);
	color: inherit;
	position: relative;
	background: transparent;
	height: auto;
	width: auto;
	right: auto;
	line-height: inherit;
}
.btn-search { 
	height: 35px;
	width: 35px;
	text-align: center;
	line-height: 35px;
	border: 2px solid #fff;
	border-radius: 50%;
	color: #232628;
	text-indent: 1px;
	font-size: 13px;
	border-color: #999999;
	position: relative;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.btn-search:hover {
	color: #fff;
	background-color: #910A2D;
	border-color: #910A2D;
}
.nav {
	background-color: #fff;
}
.nav__wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.slider-billbord__item img {
	max-width: 100%;
	height: auto;
}
.slider-arrow,
.slick-arrow {
	width: 30px;
	height: 30px;
	font-size: 50px;
	color: #910A2D !important;
	font-family: serif;
	top: 50%;
	text-shadow: 0 1px 2px rgb(0 0 0 / 60%);
	opacity: 0.5;
	transition: all 0.3s;
	position: absolute;
	cursor: pointer;
}
.slider-arrow {
	margin-top: -15px;
}
.slider-arrow:hover,
.slick-arrow:hover {
	opacity: 1;
}
.slider-arrow_prev::before,
.slick-prev:before {
	content: '\2039';
}
.slider-arrow_next::before,
.slick-next:before {
	content: '\203a';
}
.slider-arrow_prev,
.slick-prev {
	left: 15px;
}
.slider-arrow_next,
.slick-next {
	right: 15px;
}
.slider-dots,
.slick-dots {
	bottom: 20px;
	left: 0;
	width: 100%;
	position: absolute;
}
.slider-dots {
	display: flex;
	align-items: center;
	justify-content: center;
}
.slick-dots li {
	width: 16px;
	height: 16px;
}
.slider-dots__item,
.slick-dots li button {
	width: 16px;
	height: 16px;
	padding: 0;
	background-color: #f5f5f5 !important;
	border: 1px solid grey;
	border-radius: 50%;
	cursor: pointer;
}
.slider-dots__item {
	margin: 0 5px;
}
.slider-dots__item.active,
.slick-dots li.slick-active button {
	background-color: #101010 !important; 
	border: 4px solid #f5f5f5;
}
.about-block {
	margin: 0 -15px;
	margin-top: 30px;
	padding: 20px 15px;
	border: 1px #910a2d solid;
	text-align: center;
}
.about-block p {
	margin-bottom: 10px;
}
.btn-main {
	border: 2px solid #101010;
	border-radius: 3px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 1px;
	padding: 10px 35px;
	min-width: 150px;
	text-align: center;
	background-color: #101010;
	color: #ffffff;
	display: inline-block;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.btn-main:hover {
	border: 2px solid #910A2D;
	color: #ffffff;
	background-color: #910A2D;
}
.about-block .btn-main {
	margin-top: 5px;
	margin-bottom: 15px;
}
.services {
	padding-top: 60px;
	padding-bottom: 60px;
}
.item-service__image {
	margin-bottom: 20px;
}
.item-service__image img {
	height: auto;
	max-width: 100%;
	vertical-align: top;
}
.item-service__content {
	padding: 0 15px;
}
.item-service__content p {
	margin-bottom: 10px;
}
.item-service__name {
	font-size: 16px;
	letter-spacing: 1px;
	margin-bottom: 10px;
	font-weight: 700;
	color: #232628;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	opacity: 1;
	display: inline-block;
}
.item-service__name:hover {
	opacity: .85;
}
.item-service__bottom {
	padding-bottom: 15px;
	text-align: center;
}
.btn-transparent {
	border: 2px solid #101010;
	border-radius: 3px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 1px;
	padding: 10px 35px;
	color: #101010;
	min-width: 150px;
	text-align: center;
	background-color: transparent;
	display: inline-block;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.btn-transparent:hover {
	border: 2px solid #910A2D;
	color: #ffffff;
	background-color: #910A2D;
}
.item-service {
	margin-top: 20px;
	background-color: #fff;
	border: 1px #d5d5d5 solid;
}
.worth-block {
	background: #000;
	color: #FFF;
	padding: 27px 68px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.worth-block__title {
	font-size: 20px;
	font-weight: 700;
	line-height: 22px;
	letter-spacing: 3px;
	max-width: 272px;
}
.year-input {
	margin-left: 55px;
	max-width: 388px;
	width: 100%;
	margin-right: auto;
}
.year-input input {
	width: 100%;
	border: .07142857em solid #CFCFD1;
	border-radius: .28571429em;
	color: #5B5F66;
	font-size: 15px;
	font-family: "RobotoRegular";
	padding: 0 2.57142857em 0 .71428571em;
	width: 100%;
	height: 40px;
}
.worth-block__textlogo {
	font-size: 10px;
	font-family: "RobotoBold";
	text-align: center;
}
.worth-block__right img {
	max-width: 137px;
}
.title-section {
	font-size: 32px;
	line-height: 1.2;
	margin-bottom: 23px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.showroom {
	padding-top: 60px;
	padding-bottom: 40px;
}
.tabs {
	padding-top: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.tabs li a {
	padding: 13px 18px;
	color: #999999;
	font-weight: 500;
	letter-spacing: 1px;
	font-size: 16px;
	position: relative;
	display: inline-block;
	text-transform: uppercase;
	transition: background .2s ease-in-out,color .2s ease-in-out,border .2s ease-in-out;
}
.tabs li a:before,
.tabs li a:after {
	position: absolute;
	content: '';
	display: block;
	bottom: 0;
	left: 0;
	right: 0;
	height: 1px;
	background-color: #999999;
	z-index: -999;
}
.tabs li a:before {
	bottom: -2px;
	height: 4px;
	opacity: 0;
	z-index: 2;
	background-color: #910A2D;
}
.tabs li.active a:before {
	opacity: 1;
}
.tabs li.active a,
.tabs li a:hover {
	color: #101010;
}
.tab-container {
	background-color: #ffffff;
	height: 255px;
	padding: 37px 20px 20px 20px;
	overflow: hidden;
}
.item-showroom__title {
	font-weight: 700;
	margin-top: .2em;
	text-align: center;
}
.item-showroom__image {
	display: block;
}
.item-showroom__image img {
	height: auto;
	max-width: 100%;
	vertical-align: top;
}
.item-showroom__image img:hover {
	-ms-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
	transition: transform .3s;
}
.tab-pane {
	display: none;
}
.tab-pane.active {
	display: block;
}
.banner {
	padding: 80px 0;
	text-align: right;
	color: #fff;
	background-image: url(../img/mazda_bodyandchassis_dark.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.banner__title {
	font-size: 22px;
	margin-bottom: 14px;
	line-height: 1.2;
	font-weight: 700;
}
.btn-gray {
	text-transform: uppercase;
	border: 2px solid #999999;
	border-radius: 3px;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 2px;
	padding: 10px 35px;
	color: #101010;
	display: inline-block;
	background-color: #999999;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.btn-gray:hover {
	border: 2px solid #ffffff;
	color: #101010;
	background-color: #ffffff;
}
.banner__wrap {
	display: flex;
	justify-content: flex-end;
}
.banner__content {
	max-width: 540px;
}
.banner p {
	margin-bottom: 35px;
}
.item-offer__image img {
	max-width: 100%;
	margin: 0 auto;
	height: auto;
	display: block;
}
.item-offer__image {
	margin-bottom: 35px;
}
.item-offer {
	margin-top: 30px;
	text-align: center;
}
.item-offer__name {
	font-size: 18px;
	margin-bottom: 15px;
	line-height: 1.2;
	font-weight: 700;
}
.link-gray {
	color: #999999;
	font-weight: 700;
	letter-spacing: 1px;
	padding-bottom: 4px;
	border-bottom: 2px solid #999999;
	text-transform: uppercase;
	display: inline-block;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.link-gray:hover {
	color: #101010;
	padding-bottom: 1px;
	border-bottom: 2px solid #101010;
	text-decoration: none;
}
.item-offer p {
	margin-bottom: 10px;
}
.offers {
	padding-top: 50px;
	padding-bottom: 70px;
}
.title-input {
	font-weight: 700;
	margin-bottom: 10px;
}
.item-form {
	margin-top: 16px;
	margin-bottom: 8px;
}
.title-input span {
	color: #790000;
	margin-left: 4px;
}
.item-form textarea,
.item-form input {
	width: 100%;
	font-size: inherit;
	font-family: inherit;
	padding: 5px 4px;
	letter-spacing: normal;
	height: 45px;
	color: #101010;
	border: 1px solid #999999;
	background-color: #ffffff;
	border-radius: 3px;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.item-form textarea {
	height: 160px;
	resize: none;
}
.item-form textarea:focus,
.item-form input:focus  {
	border: 1px solid #101010;
}
.contacts form {
	max-width: 730px;
	margin: 0 auto;
}
.item-checkbox {
	text-align: left;
}
.item-checkbox label input,
.item-radio label input {
	position: absolute;
	z-index: -1;
	height: 1px !important;
	width: 1px !important;
	opacity: 0 !important;
	margin: 12px 2px 0 7px !important;
}
.item-checkbox label span,
.item-radio label span {
	position: relative;
	padding: 0px 0 0 25px;
	display: block;
	cursor: pointer;
}
.item-checkbox label span:before,
.item-radio label span:before {
	content: '';
	position: absolute;
	top: 3px;
	left: 0;
	width: 16px;
	height: 16px;
	background-image: url(../img/radio.png);
	background-position: -16px 0;
	background-size: 32px;
}
.item-checkbox label input:checked + span:before,
.item-radio label input:checked + span:before {
	background-position: 0 0;
}
.line-radio {
	margin: 16px 0;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.line-radio .item-radio {
	margin: 0 8px 10px 0;
}
.capcha img {
	max-width: 306px;
}
.capcha {
	padding-top: 5px;
}
.btn-black {
	padding:12px 37px;
	background-color: #101010;
	font-size: 1em;
	border: none;
	text-transform: uppercase;
	color: #fff !important;
	border-radius: 3px;
	transition: opacity .2s ease-in;
	display: inline-block;
	font-weight: 700;
	letter-spacing: 2px;
	cursor: pointer;
}
.btn-black:hover {
	background-color: #999999;
	opacity: 0.8;
}
.contacts {
	padding-bottom: 86px;
}
.contacts .btn-black {
	margin-top: 32px;
}
.footer {
	padding-top: 66px;
	color: #aaa;
	background-color: #101010;
}
.title-footer {
	letter-spacing: 1px;
	font-size: 15px;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 15px;
	line-height: 1.2;
	font-weight: 700;
}
.footer p {
	margin-bottom: 14px;
}
.phones-footer i,
.footer p i {
	font-size: 20px;
	color: #999999;
	display: inline-block;
}
.footer__bottom p,
.footer table,
.footer-list a,
.phones-footer a,
.footer p a {
	color: #999999;
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 1px;
	line-height: 1.65;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.footer-list a:hover,
.phones-footer a:hover,
.footer p a:hover {
	color: #fff;
}
.phones-footer {
	display: flex;
}
.phones-footer__right {
	padding-left: 10px;
}
.phones-footer__line {
	padding-bottom: 3px;
}
.footer__logo img {
	max-width: 100%;
	width: 230px;
}
.footer__logo {
	margin-top: 15px;
}
table {
	width: 100%;
	margin-bottom: 20px;
}
th {
	text-align: left;
}
.footer table > tbody tr td {
	padding: 0;
	font-size: 14px;
	color: #999999;
	border-bottom: 0;
	text-align: right;
}
.footer th {
	text-transform: initial;
}
.footer_logoright img {
	width: 180px;
	max-width: 100%;
	height: auto;
}
.footer__bottom {
	padding: 20px 0;
	margin-top: 55px;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.footer__bottom p {
	text-transform: none;
	margin: 0;
	line-height: 22px;
	letter-spacing: normal;
}
.footer .social-list li {
	margin-left: 37px;
	margin-right: 0;
}
.footer .social-list {
	justify-content: flex-end;
}
.menu li {
	position: relative;
}
.menu-dropdown {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 999;
	width: 230px;
	background: #fff;
	max-width: none;
	visibility: hidden;
}
.menu-dropdown__list a {
	background: #fff;
	color: #101010;
	font-size: 16px;
	display: block;
	padding: 0px 10px 0px 10px;
	line-height: 45px;
}
.menu-dropdown__list a:hover {
	color: #999;
}
.menu li:hover .menu-dropdown {
	visibility: visible;
}
.menu .menu__haschild_big {
	position: static;
}
.menu {
	position: relative;
}
.menu-dropdown_big {
	background: #101010;
	padding: 15px 30px;
	width: 100%;
}
.item-dropdown__name {
	display: inline-block;
	border-bottom: 2px solid #999999;
	padding-bottom: 2px;
	margin-bottom: 7px;
}
.item-dropdown {
	padding: 15px 0;
	color: #999999;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	display: block;
	line-height: 1.5;
}
.item-dropdown__image {
	display: block;
}
.item-dropdown__image img {
	max-width: 100%;
}
.item-dropdown__text {
	display: block;
}
.item-dropdown:hover .item-dropdown__name {
	color: #ffffff;
	border-bottom: 2px solid #910A2D;
}
.container {
	max-width: 1140px;
}
.sandwich {
	position: relative;
	width: 32px;
	height: 32px;
	padding: 5px 3px;
	display: none;
	cursor: pointer;
}
.sandwich span {
	display: block;
	height: 3px;
	background: #999999;
	border-radius: 3px;
	width: 100%;
}
.sandwich span:nth-child(2) {
	margin-top: 5px;
}
.sandwich span:nth-child(3) {
	margin-top: 5px;
}
.phone-mob {
	display: none;
}
.tab-mob {
	display: none;
}

/*financing*/
.financing {
	padding-top: 60px;
}
.billbord-page__wrap img {
	max-width: 100%;
	height: auto;
}
.financing .title-section {
	text-align: left;
}
.links-tabs {
	margin-top: 60px;
	margin-bottom: 75px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.links-tabs li {
	padding: 0 15px;
}
.links-tabs a {
	border: 2px solid #101010;
	border-radius: 3px;
	height: 58px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 199px;
	padding: 0 35px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 1px;
	color: #101010;
	text-align: center;
	background-color: transparent;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.links-tabs a:hover {
	border: 2px solid #910A2D;
	color: #ffffff;
	background-color: #910A2D;
}
.links-tabs .active a {
	background-color: #101010;
	color: #fff;
}
.title-middle {
	font-size: 22px;
	margin-bottom: 30px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.financing p {
	margin-bottom: 14px;
}
.financing-preapproval {
	padding: 60px 0;
}
.block-calculator {
	margin-bottom: 60px;
	padding: 22px 32px;
	border: 1px solid #d5d5d5;
}
.title-min {
	font-size: 18px;
	margin-bottom: 15px;
	line-height: 1.2;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 700;
}
.block-calculator .title-min i {
	position: absolute;
	top: 0;
	left: 1px;
	font-size: 42px;
	color: #999999;
}
.block-calculator .title-min {
	margin-top: 8px;
	margin-bottom: 28px;
	min-height: 42px;
	padding-left: 55px;
	padding-top: 4px;
	position: relative;
}
.block-calculator .item-form textarea,
.block-calculator .item-form input {
	font-size: 16px;
	padding-left: 20px;
	padding-right: 20px;
	color: #999999;
}
.block-calculator .item-form textarea:focus,
.block-calculator .item-form input:focus {
	color: #101010;
}
.financing_payment .links-tabs a {
	padding-top: 9px;
	padding-bottom: 10px;
	height: auto;
	width: auto;
}
.block-calculator .btn-black {
	font-size: 11px;
	padding: 13px 34px;
	letter-spacing: 2px;
	margin-top: 16px;
}
.financing_payment .financing-preapproval {
	padding-top: 0;
}
.slider-billbord__item {
	display: none;
}
.slider-billbord__item.active {
	display: block;
}
.slider-billbord {
	position: relative;
}
