/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
.nav {
	padding-bottom: 15px;
	    background-color: #101010;
	display: none;
}
.nav.active {
	display: block;
}
.header__right .phone-item {
	display: none;
}
.sandwich {
	display: inline-block;
}
.phone-mob {
	display: inline-block;
	    color: #999999;
    font-size: 22px;
    margin-right: 15px;
    margin-left: auto;
}
.btn-search {
	display: none;
}
.menu {
	display: block;
}
.nav__wrap {
	margin: 0 -15px;
	display: block;
		background-color: #fff;
}
.menu > li > a {
	height: 40px;
	line-height: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #fff !important;
	position: relative;
}
.menu-dropdown {
	width: 100%;
	visibility: visible;	
	position: relative;
	top: 0;
	left: 0;
	display: none;
}
.menu > li.menu__haschild > a::before {
	    display: inline-block;
    font-family: dashicons;
    margin: 0 0 0 6px;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: rotate(0);
       color: #999;
    position: absolute;
    top: 0;
    right: 14px;
    background: transparent;
    height: auto;
    width: auto;
    line-height: inherit;
        content: '\f142';
        transition: all 0.3s;
        opacity: 0;
}
.menu > li.menu__haschild.active > a::after {
	opacity: 0;
}
.menu > li.menu__haschild.active > a::before {
	opacity: 1;
}
.menu > li.menu__haschild.active .menu-dropdown {
	display: block;
}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
.item-service {
	max-width: 450px;
	margin-left: auto;
	margin-right: auto;
}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
.tab-container {
	height: auto;
}
.tabs {
	display: none;
}
.worth-block {
	padding: 25px 25px;
	display: block;
}
.year-input {
	margin-left: 0;
}
.worth-block__title {
	max-width: 100%;
	padding-bottom: 20px;
}
.worth-block__right {
	margin-top: 15px;
}
.worth-block__right img {
	margin: 0 auto;
}
.header .social-list {
	display: none;
}
.logo img {
	width: 190px;
}
.tab-pane {
	display: block !important;
}
.tab-content {
	display: none;
}
.tab-content.active {
	display: block;
}
.tab-mob {
	    padding: 14px 20px;
    transition: color .2s ease-in-out;
    display: block;
        font-size: 18px;
        font-weight: 700;
}
.tab-container {
	padding: 0;
	background-color: transparent;
}
.tab-content {
	padding: 30px 15px;
	background-color: #fff;
}
.links-tabs {
	margin-bottom: 50px;
	flex-direction: column;
}
.links-tabs li {
	margin-bottom: 15px;
}
.sidebar-banner {
	margin-bottom: 25px;
}
.item-catalog {
	display: block;
}
.item-catalog__image {
	margin: 0;
	margin-bottom: 10px;
	width: 100%;
}
.item-catalog__price {
	position: absolute;
	top: -65px;
	order: -1;
	z-index: 2;
	right: 0;
}
.item-catalog__features {
	display: block;
}
.item-catalog__feature {
	margin: 0;
	    padding-bottom: 15px;
    margin-bottom: 15px;
	display: flex;
	align-items: center;
	    border-bottom: 1px solid #ddd !important;
	border-right: none;
}
.item-catalog__descr {
	font-size: 14px;
	text-transform: none;
}
.item-catalog__value {
	font-size: 16px;
	padding-left: 5px;
	margin: 0;
}
.item-catalog__stock {
	padding: 8px 10px;
	text-align: center;
	justify-content: center;
	display: flex;
}
.item-catalog__stock span {
	margin-top: 1px;
	margin-right: 4px;
}
.item-catalog__header {
	flex-wrap: wrap;
	position: relative;
}
.item-catalog__name {
	display: block;
	width: 100%;
}
.sorting-catalog__left span {
	display: none;
}
.wrap-catalog_grid .item-catalog {
	width: 100%;
}
.wrap-catalog_grid .item-catalog__features {
	display: flex;
}
.wrap-catalog_grid .item-catalog__feature {
	padding-bottom: 0;
	border: none !important;
}
.wrap-catalog_grid .item-catalog__feature i {
	top: 3px;
}
.wrap-catalog_grid .item-catalog__price {
	position: relative;
	top: 0;
	order: 2;
}
.wrap-catalog_grid  .item-catalog__header {
flex-wrap: nowrap;
}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
.capcha img {
    max-width: 285px;
} 
}
 
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
.tab-content {
	display: block !important;
}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.container {
    max-width: 1140px;
}
.nav {
	display: block !important;
}
}
@media (min-width: 1600px) {
	.container {
    max-width: 1140px;
}
}